@font-face {
	font-family: Roboto;
	src: url('../fonts/roboto/Roboto-Regular.ttf'), url('../fonts/roboto/Roboto-Regular.eot');
	/* IE9 */
}

@font-face {
	font-family: Roboto Light;
	src: url('../fonts/roboto/Roboto-Light.ttf'), url('../fonts/roboto/Roboto-Regular.eot');
	/* IE9 */
}

@font-face {
	font-family: Roboto Slab;
	src: url('../fonts/roboto-slab/RobotoSlab-Regular.ttf'), url('../fonts/roboto-slab/RobotoSlab-Regular.eot');
	/* IE9 */
}

@font-face {
	font-family: Roboto Slab Light;
	src: url('../fonts/roboto-slab/RobotoSlab-Light.ttf'), url('../fonts/roboto-slab/RobotoSlab-Light.eot');
	/* IE9 */
}

body {
	width: 100%;
	/*height: 100%;*/
	background-color: #efefef;
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
	/* font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; */
	/*overflow:hidden ;*/
}

.no-scroll-body {
	overflow-y: hidden;
}

@media (max-width: 1199px) { 
	.no-scroll-body {
		overflow-y: auto;
	}
}


@media (min-width: 768px){
	.seven-cols .col-md-1,
	.seven-cols .col-sm-1,
	.seven-cols .col-lg-1  {
	  width: 100%;
	  *width: 100%;
	}
  }
  
  @media (min-width: 992px) {
	.seven-cols .col-md-1,
	.seven-cols .col-sm-1,
	.seven-cols .col-lg-1 {
	  width: 14.285714285714285714285714285714%;
	  *width: 14.285714285714285714285714285714%;
	}
  }
  
  /**
   *  The following is not really needed in this case
   *  Only to demonstrate the usage of @media for large screens
   */    
  @media (min-width: 1200px) {
	.seven-cols .col-md-1,
	.seven-cols .col-sm-1,
	.seven-cols .col-lg-1 {
	  width: 14.285714285714285714285714285714%;
	  *width: 14.285714285714285714285714285714%;
	}
  }

html {
	width: 100%;
	height: 100%;
}

a {
	color: #2eb2ff;
	cursor: pointer;
}

.btn-116w {
	width: 116px;
}

.btn-text-white,
.text-white {
	color: #fff !important;
}

.btn-primary {
	background-color: #2eb2ff;
	border-color: #2eb2ff;
	color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background-color: #55befc;
	border-color: #55befc;
}

.navbar-brand img{
	height: 60px;
}

.social-sign-up-btn {
	font-weight: bold;
	font-size: 14px;
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-position: 20px 50%;
	border: 1px solid #545454;
	color: #545454;
	padding: 14px 10%;
	word-break: break-word;
}

.social-sign-up-btn.google-btn {
	background-image: url('../../../assets/img/google.png');
}

.social-sign-up-btn.linkedin-btn {
	background-image: url('../../../assets/img/linkedin.svg');
}

.popover {
	z-index: 1031;
	/* A value higher than 1010 that solves the problem */
}

.module-name {
	position: absolute;
	width: 60%;
	left: 0;
	margin: auto;
	margin-left: 20%;
	margin-right: 20%;
}

.module-name p,
.basecamp-display {
	color: #fff;
}

.pac-container {
	z-index: 2000 !important;
}

.topLabel {
	/*background: rgba(0,0,0,0.1);*/
	margin-left: -15px;
	margin-right: -15px;
	min-height: 44px;
	padding: 7px 0 7px 0;
}

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
	.topLabel {
		margin-top: 15px;
	}
}

.organisationLabel {
	float: right;
}

.statLabel {
	float: left;
}

/*hide page title*/

.page-title {
	padding-top: 25px;
}

.page-title h1 {
	display: none;
	visibility: hidden;
}

.page-title .breadcrumb {
	display: none;
	visibility: hidden;
}

.main_container_xs {
	background-color: #fff;
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
	margin-top: 0px;
}

.navbar-default {
	margin-bottom: 0px;
}

/* .user-clock-holder {
	font-size: 180%;
	font-weight: normal;
	margin-top: -5px;
	padding-top: 0px;
} */

.inci_clock_btn {
	font-weight: bold;
}

@media(min-width:767px) {
	/*hidden-xs*/
	.main_container {
		background-color: #f6f6f6;
		/*border-left: 1px solid #e7e7e7;*/
		border-right: 1px solid #e7e7e7;
		margin-top: 130px;
		/*min-height: 700px;*/
	}
	.main_content {
		min-height: 605px;
	}
	/*	.scrollable {
		height: 700px;
		overflow: auto;
	}*/
}

@media(max-width:766px) {
	/*visible-xs*/
	.main_container {
		background-color: #f6f6f6;
		border-left: 1px solid #e7e7e7;
		border-right: 1px solid #e7e7e7;
		margin-top: 109px;
		/*50*/
	}
	/*	.scrollable {
		height: 700px;
		overflow: auto;
	}*/
	.organisationLabel {
		margin-top: 10px;
		margin-bottom: 10px;
		float: left;
	}
}

@media(min-width:767px) {
	/*    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
*/
	.top-nav-collapse {
		/* Customize the look and feel of the collapsed top nav here */
		padding: 0;
	}
}

.digital_clock {
	margin-top: -8px;
	margin-right: 15px;
	min-width: 165px;
}

/* Medium devices (desktops, 992px and up) */

@media (max-width: 991px) {
	.main_container {
		margin-top: 109px;
	}
	.digital_clock {
		margin-top: 0px;
		margin-right: 15px;
		min-width: 165px;
	}
}

.navbar.navbar-blue {
	background: #2eb2ff;
}

/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
	.navbar {
		padding: 20px 0 0 0;
		-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
		-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
		transition: background .5s ease-in-out, padding .5s ease-in-out;
	}
}

.sidebar-nav .navbar .navbar-collapse {
	padding: 0;
	max-height: none;
}

.sidebar-nav .navbar {
	border-radius: 0;
	margin-bottom: 0;
	border: 0;
}

.sidebar-nav .navbar ul {
	float: none;
	display: block;
}

.sidebar-nav .navbar li {
	float: none;
	display: block;
}

.sidebar-nav .navbar li a {
	padding-top: 12px;
	padding-bottom: 12px;
}

.isloading-wrapper {
	text-align: center;
}

/* Spinner
********************************************************/

.spinner {
	margin: 100px auto 0;
	width: 70px;
	text-align: center;
}

.spinner>div {
	width: 18px;
	height: 18px;
	background-color: #333;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: bouncedelay 1.4s infinite ease-in-out;
	animation: bouncedelay 1.4s infinite ease-in-out;
	/* Prevent first frame from flickering when animation starts */
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0.0)
	}
	40% {
		-webkit-transform: scale(1.0)
	}
}

@keyframes bouncedelay {
	0%,
	80%,
	100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}
	40% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}

/**panel collapsible
*******************/

.panel .panel-widgets .dropdown-menu a {
	color: #333;
}

.panel .panel-widgets ul.dropdown-menu {
	min-width: 0;
}

.panel .panel-heading .panel-widgets {
	float: right;
	margin: 8px 0;
	margin-top: -30px;
}

.panel .panel-heading .panel-widgets .tabbed-panels {
	display: inline;
}

.panel .panel-heading .panel-widgets .divider {
	margin: 0 5px;
}

/* -- Text Color Helper Classes */

.text-dark-blue {
	color: #34495e;
}

.text-green {
	color: #3c763d;
}

.header-actions {
	color: #FF0;
}

.text-blue {
	color: #2980b9;
}

.text-orange {
	color: #f39c12;
}

.text-red {
	color: #e74c3c;
}

.text-purple {
	color: #8e44ad;
}

.text-faded {
	color: rgba(255, 255, 255, 0.7);
}

/*******modal backdraft
***********************************************/

.modal-backdrop {
	background-color: #fff;
}

/*******sidebar
**********************************/

@media (min-width: 768px) {
	/*hidden-xs*/
	.sidebar_nav a.bg-danger {
		background-color: #f2dede;
		color: #d44950;
		text-decoration: none;
	}
	.sidebar_nav a.bg-danger.active,
	.sidebar_nav a.bg-danger:hover,
	.sidebar_nav a.bg-danger.active:hover,
	.sidebar_nav a.bg-danger.active:focus {
		z-index: 2;
		background-color: #d44950;
		border-color: #d44950;
		color: #fff;
	}
	.sidebar_nav {
		padding-left: 0;
		padding-right: 0;
	}
	.main_nav .list-group-item:first-child,
	.main_nav .list-group-item:last-child,
	.main_nav .list-group-item {
		border-radius: 0;
		margin-left: 0;
		/*margin-right: -14px;*/
		border-left: none;
		border-right: none;
	}
	.slim_nav a {
		text-align: center;
	}
	.settings_nav .settingChild,
	.settings_nav .settingChild:first-child,
	.settings_nav .settingChild:last-child,
	.preincidentItems .preincidentChild,
	.preincidentItems .preincidentChild:first-child,
	.preincidentItems .preincidentChild:last-child {
		margin-left: 15px;
		border-radius: 0;
		border-left: none;
		margin-right: 0px;
		border-right: none;
		/*margin-top: 3px;
		margin-bottom: 3px;
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;*/
	}
	.preincidentItems .preincidentChild:last-child {
		border-bottom: none;
	}
	.steps_holder {
		border-right: 1px solid #eee;
		min-height: 400px;
	}
	.user-body .tab-content .tab-pane {
		height: 400px;
		overflow: auto;
	}
}

.steps_holder ul li a {
	border-radius: 0;
}

@media (min-width: 768px) and (max-width: 979px) {
	/*hidden-xs*/
	.main_nav .list-group-item:first-child,
	.main_nav .list-group-item:last-child,
	.main_nav .list-group-item {
		font-size: 95%;
	}
	.preincidentItems a,
	.settings_nav a {
		font-size: 92%;
	}
	.steps_holder {
		border-right: none;
		height: auto;
	}
}

@media(min-width:1200px) {
	.preincidentItems a,
	.settings_nav a {
		font-size: 95%;
	}
	.steps_holder {
		font-size: 120%;
	}
}

/**************
********************************************************/

.welcomeScreen {
	background: url('../img/landing-slideshow-2.jpg') top center no-repeat;
	border-top: 1px solid #e7e7e7;
	padding-top: 20px;
	padding-bottom: 20px;
}

.welcomeScreen .panel-default {
	background: rgba(255, 255, 255, 0.7);
}

/*****on the old header internal style
*****************************************/

.error_border {
	background-color: #FFFFFF;
	background-image: none;
	border: 1px solid #F00;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555555;
	display: block;
	font-size: 14px;
	height: 34px;
	line-height: 1.42857;
	padding: 6px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
}

.details_content {
	margin-top: 5px;
}

/**badge bg**/

.danger {
	background: #d9534f;
}

/**inbox **/

.unread-message {
	font-weight: bold;
	cursor: pointer;
}

.clickableRow {
	cursor: pointer;
}

/********drop down large
******************************************/

.dropdown-large {
	position: static !important;
}

.dropdown-menu-large {
	margin-left: 16px;
	margin-right: 16px;
	padding: 20px 0px;
}

.dropdown-menu-large>li>ul {
	padding: 0;
	margin: 0;
}

.dropdown-menu-large>li>ul>li {
	list-style: none;
}

.dropdown-menu-large>li>ul>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #333333;
	white-space: normal;
}

.dropdown-menu-large>li ul>li>a:hover,
.dropdown-menu-large>li ul>li>a:focus {
	text-decoration: none;
	color: #262626;
	background-color: #f5f5f5;
}

.dropdown-menu-large .disabled>a,
.dropdown-menu-large .disabled>a:hover,
.dropdown-menu-large .disabled>a:focus {
	color: #999999;
}

.dropdown-menu-large .disabled>a:hover,
.dropdown-menu-large .disabled>a:focus {
	text-decoration: none;
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	cursor: not-allowed;
}

.dropdown-menu-large .dropdown-header {
	color: #2eb2ff;
	font-size: 18px;
}

@media (max-width: 768px) {
	.dropdown-menu-large {
		margin-left: 0;
		margin-right: 0;
	}
	.dropdown-menu-large>li {
		margin-bottom: 30px;
	}
	.dropdown-menu-large>li:last-child {
		margin-bottom: 0;
	}
	.dropdown-menu-large .dropdown-header {
		padding: 3px 15px !important;
	}
}

/******mega menu start********/

.mega-dropdown {
	position: static !important;
	width: 100%;
}

.mega-dropdown-menu {
	padding: 20px 0px;
	width: 98%;
	margin-left: 10px;
	margin-top: 10px;
	/*box-shadow: none;
    -webkit-box-shadow: none;*/
}

.mega-dropdown-menu:before {
	content: "";
	border-bottom: 15px solid #fff;
	border-right: 12px solid transparent;
	border-left: 12px solid transparent;
	position: absolute;
	top: -15px;
	left: 5px;
	z-index: 10;
}

.mega-dropdown-menu:after {
	content: "";
	border-bottom: 17px solid #ccc;
	border-right: 14px solid transparent;
	border-left: 14px solid transparent;
	position: absolute;
	top: -17px;
	left: 3px;
	z-index: 8;
}

.mega-dropdown-menu>li>ul {
	padding: 5px;
	margin: 0;
}

.mega-dropdown-menu>li>ul>li {
	list-style: none;
}

.mega-dropdown-menu>li>ul>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #999;
	white-space: normal;
}

.mega-dropdown-menu>li ul>li>a:hover,
.mega-dropdown-menu>li ul>li>a:focus {
	text-decoration: none;
	color: #444;
	background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
	color: #2eb2ff;
	font-size: 18px;
	font-weight: bold;
}

.mega-dropdown-menu form {
	margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
	margin-bottom: 3px;
}

/*********mega menu end******/

/*responsive tabs*/

.tab-responsive li {
	float: none;
}

.tab-responsive li.active a {
	border: none;
}

.tab-responsive li a:hover,
.tab-responsive li a:focus,
.tab-responsive li.active a,
.tab-responsive li.active a:hover,
.tab-responsive li.active a:focus {
	background: none;
	border: none;
}

/**table in hazard*/

.no-margin-btm {
	margin-bottom: -1px;
	margin-left: -1px;
	padding: 0px;
	border-radius: 0;
}

.input_hidden {
	position: absolute;
	left: -9999px;
}

.orange {
	background-color: #f39c12;
}

.orange2 {
	background-color: #ff6600;
}

.yellow {
	background-color: #ffcc00;
}

.green {
	background-color: #16a085;
}

.green2 {
	background-color: #13a538;
}

.green3 {
	background-color: #c3d69b;
}

.grey {
	background-color: #66788a;
}

.blue {
	background-color: #2980b9;
}

.red {
	background-color: #e74c3c;
}

.red2 {
	background-color: #c00000;
}

.purple {
	background-color: #8e44ad;
}

.dark-blue {
	background-color: #34495e;
}

.maroon {
	background-color: #b32034;
}

.bg-info2 {
	background-color: #e9edf4;
}

.bg-info3 {
	background-color: #d0d8e8;
}

.bg-white {
	background-color: #fff;
}

.bg-grey {
	background: #edeeee;
	border-radius: 3px;
	padding: 0;
}

.bg-grey>div {
	padding: 25px;
}

.selected {
	background: #2eb2ff url(../img/checkmark.png) bottom right no-repeat;
}

.selected p {
	color: #fff;
}

.notselected {
	background-color: #fff;
	color: #eee;
}

.no-margin-btm label {
	display: inline-block;
	cursor: pointer;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	color: #333;
}

/*****blockquote*****/

.blockquote {
	font-size: 16px;
	border-left: none;
	border-bottom: 1px solid #eee;
	padding: 5px 10px;
}

.blockquote footer {
	font-size: 15px;
}

.blockquote footer:before,
blockquote small:before,
blockquote .small:before {
	content: "";
	content: none;
}

/*************chat******************/

.chat-collapse {
	width: 300px/*500px*/
	;
	position: fixed;
	bottom: 0;
	right: 5px;
	background: #f8f8f8;
	border: #e7e7e7 1px solid;
	-webkit-box-shadow: 1px -2px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 1px -2px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 1px -2px 5px 0px rgba(50, 50, 50, 0.75);
	padding: 10px;
	color: #2eb2ff;
	z-index: 50;
}

.chat-collapse-pm {
	width: 300px/*500px*/
	;
	position: fixed;
	bottom: 0;
	right: 310px;
	background: #f8f8f8;
	border: #e7e7e7 1px solid;
	-webkit-box-shadow: 1px -2px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 1px -2px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 1px -2px 5px 0px rgba(50, 50, 50, 0.75);
	padding: 10px;
	color: #2eb2ff;
	z-index: 50;
}

#page-wrap-pm {
	width: 300px/*500px*/
	;
	position: fixed;
	bottom: 0;
	right: 310px;
	background: #f8f8f8;
	border: #e7e7e7 1px solid;
	-webkit-box-shadow: 1px -2px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 1px -2px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 1px -2px 5px 0px rgba(50, 50, 50, 0.75);
	z-index: 50;
}

.chat-collapse:hover,
.chat-collapse-pm:hover {
	background: #e7e7e7;
	cursor: pointer;
	color: #357ebd;
}

.chat-collapse a {
	text-decoration: none;
}

#page-wrap {
	width: 300px/*500px*/
	;
	position: fixed;
	bottom: 0;
	right: 5px;
	background: #f8f8f8;
	border: #e7e7e7 1px solid;
	-webkit-box-shadow: 1px -2px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 1px -2px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 1px -2px 5px 0px rgba(50, 50, 50, 0.75);
	z-index: 50;
}

#chat-wrap {
	/*border: 1px solid #eee; */
	margin: 0 0 15px 0;
}

#chat-area {
	height: 240px;
	width: 100%/*495px*/
	;
	overflow: auto;
	/*border: 1px solid #666;*/
	padding: 20px;
	padding-bottom: 0;
	word-wrap: break-word;
}

#chat-user-list {
	height: 350px;
	width: 100%/*495px*/
	;
	overflow: auto;
	/*border: 1px solid #666;*/
	padding: 20px;
	padding-bottom: 0;
	word-wrap: break-word;
}

@media (max-width: 767px) {
	#page-wrap,
	.chat-collapse,
	#page-wrap-pm,
	.chat-collapse-pm {
		width: 48%/*500px*/
		;
	}
	#page-wrap-pm,
	.chat-collapse-pm {
		right: 50%;
	}
}

#chat-area span {
	color: white;
	background: #333;
	padding: 3px 6px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 8px;
	margin: 0 5px 0 0;
}

#chat-area p {
	padding: 5px 0;
	padding-bottom: 14px;
	border-bottom: 1px solid #ccc;
}

#name-area {
	position: absolute;
	top: 12px;
	right: 0;
	color: white;
	text-align: right;
}

#name-area span {
	color: #fa9f00;
}

#send-message-area p {
	float: left;
	color: white;
	padding-top: 27px;
	font-size: 14px;
}

#sendie {
	border: 1px solid #ccc;
	width: 100%/*498px*/
	;
	padding: 10px;
	float: left;
	resize: vertical;
}

#sendie:focus {
	border: 1px solid #666;
	width: 100%/*500px*/
	;
	padding: 10px;
	float: left;
}

#chat-area span.chat_date {
	background: none;
	color: #aaa;
	margin-top: -8px;
}

/****************************************************************************/

a.sidebar_submenu {
	text-decoration: none;
	padding-top: 20px;
	padding-bottom: 20px;
	border-color: #2eb2ff;
}

a.sidebar_submenu:hover,
a.sidebar_submenu:hover small.ne {
	color: #fff/*#f5f5f5*/
	;
	background: #2eb2ff/*#2eb2ff*/
	;
	border-color: #2eb2ff;
	margin-top: -3px;
	/*border: 1px solid rgb(200, 200, 200);*/
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
	/*background: rgba(200, 200, 200, 0.1);*/
	transition: 0.5s;
}

a.sidebar_submenu i {
	font-size: 35px;
}

a.sidebar_submenu h4 {
	font-size: 15px;
}

/************************************************************************/

.filter_crt_result {
	height: 180px;
	overflow: auto;
	border-radius: 5px;
	border: 1px solid #ccc;
}

@media (min-width: 768px) {
	.circle-tile {
		margin-bottom: 30px;
	}
}

.circle-tile {
	margin-bottom: 15px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #eee;
}

.circle-tile-content {
	padding-top: 50px;
}

.circle-tile-heading {
	position: relative;
	width: 80px;
	height: 80px;
	margin: 0 auto -40px;
	border: 3px solid rgba(255, 255, 255, 0.3);
	border-radius: 100%;
	color: #fff;
	transition: all ease-in-out .3s;
}

.circle-tile-heading .fa {
	line-height: 80px;
}

.circle-tile-description {
	text-transform: uppercase;
}

.text-faded {
	color: rgba(255, 255, 255, 0.7);
	padding: 10px;
}

.circle-tile-footer {
	display: block;
	padding: 5px;
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(0, 0, 0, 0.1);
	transition: all ease-in-out .3s;
}

.circle-tile-footer:hover {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(0, 0, 0, 0.2);
}

/*********************scenario flow***************************/

/*  bhoechie tab */

div.bhoechie-tab-container {
	z-index: 10;
	background-color: #ffffff;
	padding: 0 !important;
	border-radius: 4px;
	-moz-border-radius: 4px;
	border: 1px solid #ddd;
	/*margin-top: 20px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;*/
	opacity: 0.97;
	filter: alpha(opacity=97);
	margin-bottom: 30px;
}

div.bhoechie-tab-menu {
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
}

div.bhoechie-tab-menu div.list-group {
	margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a {
	margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a:first-child {
	border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group>a:last-child {
	border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
}

/*div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{*/

div.bhoechie-tab-menu div.list-group>a.active.scene_bg {
	background-color: #5A55A3;
	background-image: #5A55A3;
	color: #ffffff;
}

div.bhoechie-tab-menu div.list-group>a.active:after {
	content: '';
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -13px;
	border-left: 0;
	border-bottom: 13px solid transparent;
	border-top: 13px solid transparent;
	border-left: 10px solid #2eb2ff;
}

div.bhoechie-tab-menu div.list-group>a.active.scene_bg:after {
	border-left: 10px solid #5A55A3;
}

div.bhoechie-tab-content {
	background-color: #ffffff;
	/* border: 1px solid #eeeeee; */
	padding-left: 20px;
	padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
	display: none;
}

/***************************forum table****************/

/*topic/category view page*/

.forum.table>tbody>tr>td {
	vertical-align: auto;
}

.forum .fa {
	width: 1em;
	text-align: center;
}

.forum.table th.cell-stat {
	width: 4em;
}

.forum.table th.cell-stat-2x {
	width: 14em;
}

.forum.table th.cell-stat-1-point-5x {
	width: 12em;
}

.forum.table th.cell-stat-1-n-half {
	width: 9em;
}

/*post view page*/

.forum .forum-post-panel {
	margin-bottom: 1em;
}

.forum.media-list li img.avatar {
	display: block;
	margin: 0 auto;
}

.forum.media-list li .user-info {
	text-align: center;
	/* width: 8em;*/
}

@media (max-width: 760px) {
	.forum.media-list li .user-info {
		float: none;
		width: 100%;
		margin-bottom: 1em;
	}
}

/********************from footer***********************/

.note-editor {
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.nav-tabs .glyphicon:not(.no-margin) {
	margin-right: 10px;
}

.tab-pane .list-group-item:first-child {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.tab-pane .list-group-item:last-child {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

/*.tab-pane .list-group .checkbox { display: inline-block;margin: 0px; }*/

.tab-pane .list-group input[type="checkbox"] {
	margin-top: 2px;
}

.tab-pane .list-group .glyphicon {
	margin-right: 5px;
}

.tab-pane .list-group .glyphicon:hover {
	color: #FFBC00;
}

a.list-group-item.read {
	color: #222;
	background-color: #F3F3F3;
}

hr {
	margin-top: 5px;
	margin-bottom: 10px;
}

.nav-pills>li>a {
	padding: 5px 10px;
}

.ad {
	padding: 5px;
	background: #F5F5F5;
	color: #222;
	font-size: 80%;
	border: 1px solid #E5E5E5;
}

.ad a.title {
	color: #15C;
	text-decoration: none;
	font-weight: bold;
	font-size: 110%;
}

.ad a.url {
	color: #093;
	text-decoration: none;
}

/*#progressOverlay .progress {
		position:relative;
		width:80%;
		top:50%;
		margin:0 auto;
	}
	 
	#progressOverlay {
		position:relative;
		height:100%;
	}	*/

.upload_sec {
	position: relative;
	top: 120px;
	z-index: 1000;
	display: none;
}

#progress,
#progress2 {
	position: relative;
	width: 100%;
	border: 1px solid #ddd;
	padding: 1px;
	border-radius: 3px;
	font-size: 70%;
}

#bar,
#bar2 {
	background-color: #B4F5B4;
	width: 0%;
	height: 20px;
	border-radius: 3px;
}

#percent,
#percent2 {
	position: absolute;
	display: inline-block;
	top: 3px;
	left: 48%;
}

a.file_attch_btn,
a.file_attch_btn2 {
	margin-left: 10px;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
}

/*
.user-details {position: relative; margin-bottom: 20px; }

.user-details .user-info-block {width: 100%; background: rgb(255, 255, 255); z-index: 0; }

.user-info-block .navigation {float: left; width: 100%; margin: 0; padding: 0; list-style: none; border-bottom: 1px solid #2eb2ff ; border-top: 1px solid #2eb2ff ; }
.navigation li {float: left; margin: 0; padding: 0;}
.navigation li a {padding: 20px 25px; float: left; text-decoration: none;}
.navigation li.active a {background: #2eb2ff; color: #fff;}
.user-info-block .user-body {float: left; padding: 15px; width: 100%; border-bottom: 1px solid #ccc; margin-top: 5px;}
.user-body .tab-content > div {float: left; width: 100%;}
.user-body .tab-content h4 {width: 100%; margin: 10px 0; color: #333;}
*/

.user-body .tab-content>div {
	float: left;
	width: 100%;
}

@media (max-width: 766px) {
	.upload_sec {
		position: relative;
		/*top: 140px;*/
		z-index: 1000;
		display: none;
	}
	/*	.navigation li a {
			padding: 15px 20px;
			float: left;
			text-decoration: none;
		}*/
}

.container-full {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 98%;
}

.label-lg {
	padding: 7px;
	font-size: 12px;
}

/*************************************************
flip clock
***********************************************/

.flip-clock-label {
	font-size: 35px;
}

.flip-clock-divider.seconds .flip-clock-label {
	right: -141px;
}

.flip-clock-divider.minutes .flip-clock-label {
	right: -136px;
}

.flip-clock-divider.hours .flip-clock-label {
	right: -121px;
}

.flip-clock-divider.days .flip-clock-label {
	right: -116px;
}

.my_recall_timer {
	zoom: .6;
	transform: scale(.54);
	-ms-transform: scale(.54);
	/* IE 9 */
	-webkit-transform: scale(.54);
	/* Safari and Chrome */
	-o-transform: scale(.54);
	/* Opera */
	-moz-transform: scale(.54);
	/* Firefox */
	margin-top: -80px;
	margin-left: 240px;
	height: 100px;
}

.my_clock {
	zoom: .55;
	transform: scale(.54);
	-ms-transform: scale(.54);
	/* IE 9 */
	-webkit-transform: scale(.54);
	/* Safari and Chrome */
	-o-transform: scale(.54);
	/* Opera */
	-moz-transform: scale(.54);
	/* Firefox */
	position: absolute;
	top: 0px;
	left: -150px;
	text-align: right;
	width: 600px;
	cursor: pointer;
}

@media (max-width: 767px) {
	.my_recall_timer {
		margin-top: 0px;
		margin-left: -150px;
		height: 80px;
		width: 700px;
	}
}

/******************************************************************
				HORIZONTAL SCROLL
******************************************************************/

.wrapper {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	padding: 5px;
	height: 31px;
}

.nav.list {
	position: absolute;
	left: 0px;
	top: 0px;
	min-width: 1550px;
	margin-left: 15px;
	margin-top: 0px;
}

.nav.list li {
	display: table-cell;
	position: relative;
	text-align: center;
	cursor: grab;
	cursor: -webkit-grab;
	color: #efefef;
	vertical-align: middle;
}

.nav.list li a {
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.scroller {
	text-align: center;
	cursor: pointer;
	display: none;
	padding: 5px;
	white-space: no-wrap;
	vertical-align: middle;
	background: rgba(0, 0, 0, .1);
}

.scroller-right {
	float: right;
}

.scroller-left {
	float: left;
}

/************separator*****************/

.separator {
	text-align: center;
	height: 9px;
	border-bottom: 2px solid #ccc;
	margin-top: 15px;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.separator:first-line {
	color: #ccc;
	background-color: white;
}

/*****************blink*******************/

@keyframes fade {
	from {
		opacity: 1.0;
	}
	50% {
		opacity: 0.4;
	}
	to {
		opacity: 1.0;
	}
}

@-webkit-keyframes fade {
	from {
		opacity: 1.0;
	}
	50% {
		opacity: 0.4;
	}
	to {
		opacity: 1.0;
	}
}

.blink {
	animation: fade 1500ms infinite;
	-webkit-animation: fade 1500ms infinite;
}

/***********************bulk*************************/

.delbulk_attach {
	cursor: default;
}

/*********************pie chart*********/

/* Flot Chart Styles */

.flot-chart {
	display: block;
	height: 200px;
}

.flot-chart-content {
	width: 100%;
	height: 100%;
}

/* Easy Pie Chart Styles */

.easy-pie-chart {
	display: inline-block;
	position: relative;
	width: 110px;
	height: 110px;
	margin: 15px 0;
	text-align: center;
}

.easy-pie-chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.percent {
	display: inline-block;
	z-index: 2;
	line-height: 110px;
}

.percent:after {
	content: '%';
	margin-left: 0.1em;
	font-size: .8em;
}

/* Fixed Height Dashboard Demo Styles */

.dash-demo-tile {
	min-height: 210px;
	text-align: left;
	padding: 1px 10px 10px 10px;
	color: #fff;
	margin-bottom: 15px;
}

.easy-pie-data {
	margin-top: 15px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.2);
}

.dash-demo-tile h4 {
	text-align: left;
}

#morris-chart-dashboard {
	width: 100%;
	height: 240px;
}

/* Custom Easy Pie Chart Demo Styles */

.easy-pie-chart {
	width: 130px;
	height: 130px;
	margin: 15px 0 0;
}

.percent {
	font-size: 2em;
	font-weight: bold;
	line-height: 130px;
	color: rgba(255, 255, 255, .7);
}

/*********calendar**********/

#script-warning {
	display: none;
	background: #eee;
	border-bottom: 1px solid #ddd;
	padding: 0 10px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	color: red;
}

#loading {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
}

#calendar {
	max-width: 900px;
	margin: 40px auto;
	padding: 0 10px;
}

#external-events .fc-event {
	margin: 10px 0;
	cursor: pointer;
}

#external-events p {
	margin: 1.5em 0;
	font-size: 11px;
	color: #666;
}

#external-events p input {
	margin: 0;
	vertical-align: middle;
}

.slim_text_input {
	max-width: 90px;
}

/******************from crt footer*********************/

.note-editor {
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.nav-tabs .glyphicon:not(.no-margin) {
	margin-right: 10px;
}

.tab-pane .list-group-item:first-child {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.tab-pane .list-group-item:last-child {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.tab-pane .list-group .checkbox {
	display: inline-block;
	margin: 0px;
}

.tab-pane .list-group input[type="checkbox"] {
	margin-top: 2px;
}

.tab-pane .list-group .glyphicon {
	margin-right: 5px;
}

.tab-pane .list-group .glyphicon:hover {
	color: #FFBC00;
}

a.list-group-item.read {
	color: #222;
	background-color: #F3F3F3;
}

hr {
	margin-top: 5px;
	margin-bottom: 10px;
}

.nav-pills>li>a {
	padding: 5px 10px;
}

.ad {
	padding: 5px;
	background: #F5F5F5;
	color: #222;
	font-size: 80%;
	border: 1px solid #E5E5E5;
}

.ad a.title {
	color: #15C;
	text-decoration: none;
	font-weight: bold;
	font-size: 110%;
}

.ad a.url {
	color: #093;
	text-decoration: none;
}

.upload_sec {
	position: relative;
	top: 120px;
	z-index: 1000;
	display: none;
}

@media (max-width: 766px) {
	.upload_sec {
		position: relative;
		/*top: 140px;*/
		z-index: 1000;
		display: none;
	}
}

#progress {
	position: relative;
	width: 100%;
	border: 1px solid #ddd;
	padding: 1px;
	border-radius: 3px;
	font-size: 70%;
}

#bar {
	background-color: #B4F5B4;
	width: 0%;
	height: 20px;
	border-radius: 3px;
}

#percent {
	position: absolute;
	display: inline-block;
	top: 3px;
	left: 48%;
}

a.file_attch_btn {
	margin-left: 10px;
	margin-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
}

.for_cc_only {
	display: none;
	visibility: hidden;
}

.blue_btns_list {
	margin-bottom: 0px;
}

.blue_btns_list>li {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.blue_btns_list li a,
.blue_btns_list li a:hover,
#myTab li a {
	color: #777;
	min-width: 38px;
}

.megamenu_clone li {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

/*******progress bar***********/

/*progressbar*/

#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}

#progressbar li {
	list-style-type: none;
	color: #eee;
	text-transform: uppercase;
	font-size: 12px;
	width: 33.33%;
	float: left;
	position: relative;
}

#progressbar li:before {
	font-family: FontAwesome;
	content: "\f00c";
	/*content: '&#10003'; /*counter(step);
	counter-increment: step;*/
	width: 35px;
	line-height: 30px;
	display: block;
	font-size: 11px;
	color: #fff;
	background: #fff;
	border-radius: 50%;
	border: 3px solid #eee;
	margin: 0 auto 10px auto;
}

/*progressbar connectors*/

#progressbar li:after {
	content: '';
	width: 100%;
	height: 3px;
	background: #eee;
	position: absolute;
	left: -50%;
	top: 15px;
	z-index: -1;
	/*put it behind the numbers*/
}

#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}

/*marking active/completed steps green*/

/*The number of the step and the connector before it = green*/

#progressbar li.active {
	color: #ff7b10;
}

#progressbar li.active:before,
#progressbar li.active:after {
	background: #ff7b10;
	color: #ff7b10;
}

#progressbar li.done {
	color: #47a447;
}

#progressbar li.done:before {
	background: #fff;
	color: #47a447;
	border: 3px solid #47a447;
}

#progressbar li.done:after {
	background: #47a447;
	color: #47a447;
}

/*****disable interaction****/

div.fadeMe.bg {
	opacity: 0.9;
	background: #fff;
	width: 100%;
	height: 100%;
	z-index: 10;
	top: 0;
	left: 0;
	position: fixed;
}

div.trialcontent {
	top: 250px;
	z-index: 11;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	opacity: 1;
}

/******portfolio modal****/

.bootbox-close-button,
.modal .close {
	font-size: 25px;
	right: -35px;
	top: -35px;
	position: relative;
	opacity: 1;
	font-weight: normal;
	color: #fff;
}

.bootbox .modal-content,
.modal .modal-content {
	border-radius: 0px;
	background: #f4f5f5;
}

.bootbox .modal-footer,
.modal .modal-footer,
.bootbox .modal-header,
.modal .modal-header {
	background: #fff;
}

.modal .modal-dialog {
	margin-top: 5%
}

.bootbox .modal-dialog {
	margin-top: 15%
}

.portfolio-modal .modal-content {
	padding: 0 0 15px 0;
	/*75px 0;*/
	z-index: 2000;
	min-height: 100%;
	border: 0;
	border-radius: 0;
	text-align: center;
	background-clip: border-box;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.portfolio-modal .modal-body {
	padding: 0px;
}

.portfolio-modal .modal-content h2 {
	margin: 0;
	font-size: 3em;
}

.portfolio-modal .modal-content img {
	margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
	margin: 30px 0;
}

.portfolio-modal .close-modal {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 75px;
	height: 75px;
	background-color: transparent;
	cursor: pointer;
}

.portfolio-modal .close-modal:hover {
	opacity: .3;
}

.portfolio-modal .close-modal .lr {
	z-index: 1051;
	width: 1px;
	height: 50px;
	margin-left: 35px;
	background-color: #2c3e50;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
	z-index: 1052;
	width: 1px;
	height: 50px;
	background-color: #2c3e50;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
	display: none;
	opacity: 0;
}

.modal-backdrop {
	/* z-index: 1600 !important; */
	opacity: .8 !important;
	background-color: #959da2 !important;
}

.pac-container {
	z-index: 2000 !important;
}

.pac-container {
	z-index: 2000 !important;
}

/*******progress bar***********/

/*progressbar*/

#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}

#progressbar li {
	list-style-type: none;
	color: #eee;
	text-transform: uppercase;
	font-size: 12px;
	width: 33.33%;
	float: left;
	position: relative;
}

#progressbar li:before {
	font-family: FontAwesome;
	content: "\f00c";
	/*content: '&#10003'; /*counter(step);
	counter-increment: step;*/
	width: 35px;
	line-height: 30px;
	display: block;
	font-size: 11px;
	color: #fff;
	background: #fff;
	border-radius: 50%;
	border: 3px solid #eee;
	margin: 0 auto 10px auto;
}

/*progressbar connectors*/

#progressbar li:after {
	content: '';
	width: 100%;
	height: 3px;
	background: #eee;
	position: absolute;
	left: -50%;
	top: 15px;
	z-index: -1;
	/*put it behind the numbers*/
}

#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}

/*marking active/completed steps green*/

/*The number of the step and the connector before it = green*/

#progressbar li.active {
	color: #3276b1;
}

#progressbar li.active:before,
#progressbar li.active:after {
	background: #3276b1;
	color: #3276b1;
}

#progressbar li.done {
	color: #47a447;
}

#progressbar li.done:before {
	background: #fff;
	color: #47a447;
	border: 3px solid #47a447;
}

#progressbar li.done:after {
	background: #47a447;
	color: #47a447;
}

form label {
	font-weight: normal;
}

form legend {
	font-size: 16px;
	font-weight: bold;
}

.portfolio-modal .modal-content li img {
	margin-bottom: 0px;
}

.popover {
	z-index: 3000;
	/* A value higher than 1010 that solves the problem */
}

.btn-red-outline {
	background-color: #fff !important;
	border-color: #e74c3c !important;
	color: #e74c3c !important;
}

.btn-red-outline:hover {
	background-color: #ebebeb !important;
}

.form-control:focus {
	background: #fff;
	border-color: #2eb2ff;
}

.row-setup {
	margin-top: 120px;
	text-align: center;
}

/* // 20px gutter */

.gutter-20.row {
	margin-right: -10px;
	margin-left: -10px;
}

.gutter-20>[class^="col-"],
.gutter-20>[class^=" col-"] {
	padding-right: 10px;
	padding-left: 10px;
}

/* // 10px gutter */

.gutter-10.row {
	margin-right: -5px;
	margin-left: -5px;
}

.gutter-10>[class^="col-"],
.gutter-10>[class^=" col-"] {
	padding-right: 5px;
	padding-left: 5px;
}

/* // 0px gutter */

.gutter-0.row {
	margin-right: 0;
	margin-left: 0;
}

.gutter-0>[class^="col-"],
.gutter-0>[class^=" col-"] {
	padding-right: 0;
	padding-left: 0;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.col-xs-15 {
	width: 20%;
	float: left;
}

@media (min-width: 768px) {
	.col-sm-15 {
		width: 20%;
		float: left;
	}
}

@media (min-width: 992px) {
	.col-md-15 {
		width: 20%;
		float: left;
	}
}

@media (min-width: 1200px) {
	.col-lg-15 {
		width: 20%;
		float: left;
	}
}

/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
	.row-setup .setup-line {
		border-bottom: 1px solid #2eb2ff;
		margin: 0 12%;
		position: relative;
		bottom: -30px;
	}
}

.row-setup .setup-circle {
	margin: 0 auto;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 1px solid #2eb2ff;
	background: #2eb2ff;
	color: #fff;
	padding-top: 7px;
	font-size: 30px;
}

.row-setup .setup-pending {
	border: 1px dashed #2eb2ff;
	background: #ffffff !important;
	color: #2eb2ff;
}

.btn {
	border-radius: 2px;
}

.cb-wrap .btn-group {
	display: none;
}

/* process */

.table-rtask .num {
	padding: 0px;
	width: 40px;
	text-align: center;
}

.table-rtask tr .num div {
	padding-top: 20px;
	height: 58px;
}

.table-rtask tr:hover .num div {
	cursor: move;
	background: url('../img/drag-bg.png');
}

.table-rtask tr:hover .num div.no-drag {
	cursor: default;
	background: none;
}

.table-rtask tr .delete-header-btn {
	display: none;
}

.table-rtask tr:hover .delete-header-btn {
	display: inline-block;
	position: absolute;
	right: 50px;
	z-index: 50;
	top: 11px;
}

.col-headers .scroll-content {
	padding: 15px 15px 75px 15px;
	height: 80vh;
	overflow: auto;
}

.col-headers.kanban-view .scroll-content {
	padding: 15px 15px 75px 15px;
	height: 65vh;
	overflow: auto;
}

.link-no-decor:hover {
	text-decoration: none;
}

/* .newdash-panel .panel .panel-body{
	padding: 10px;
} */

.newdash-panel .panel {
	border-width: 2px;
	border-color: transparent;
	cursor: pointer;
	/* height: 78px; */
	padding: 15px 0px;
}

.newdash-panel .panel:hover {
	border-color: #2eb2ff;
}

.newdash-panel .panel .panel-body h4 {
	margin: 0 0 5px 0;
	text-transform: uppercase;
	font-size: 14px;
}

.newdash-panel .panel .panel-body p {
	font-size: 25px;
	line-height: 100%;
	margin: 0;
}

.newdash-panel .panel .panel-body a {
	color: #777;
	text-decoration: none;
}

.newdash-panel .panel .panel-body a:hover {
	color: #8D8B8B;
}

.preview_mode .col-headers .scroll-content {
	height: 100vh;
}

.header-kanban-actions {
	border-top: 1px solid #ddd;
	z-index: 500;
	padding: 10px 15px;
	position: fixed;
	background: #fff;
	bottom: 0px;
	left: 0px;
	right: 18px;
}

.kanban-header {
	cursor: pointer;
}

.kanban-header a {
	display: none;
}

.kanban-header:hover a {
	display: inline;
}

.header-actions {
	border-top: 1px solid #ddd;
	z-index: 500;
	padding: 10px 15px;
	position: absolute;
	background: #fff;
	bottom: 0px;
	left: 0px;
	right: 18px;
}


@media (max-width: 1199px) { 
	.header-actions {
		position: fixed;
		bottom: 0px;
		left: 0px;
		right: 0px;
	}
}


.btn-margin-right {
	margin-right: 5px;
}

.col-contents,
.col-contents2 {
	background: #fff;
}

.col-contents,
.col-headers {
	padding-left: 0px;
	padding-right: 0px;
}

.col-contents .scroll-content {
	padding-bottom: 75px;
	margin-right: 80px;
	height: 80vh;
	overflow: auto;
}

.col-contents .scroll-content.no-margin-right {
	margin-right: 0px;
}

.preview_mode .col-contents .scroll-content {
	height: 100vh;
}

.col-contents2 {
	padding-right: 0px;
}

.col-contents2 .scroll-content {
	padding-right: 15px;
	padding-bottom: 75px;
	margin-right: 0px;
	height: 80vh;
	overflow: auto;
	overflow-x: hidden;
}

/* .col-content2 .ql-editor, .col-content2 .ql-container.ql-snow, .ql-editor.ql-blank{
	min-height: 400px !important;
} */

.content-actions {
	margin-bottom: 15px;
}

.list-group-task .btn {
	display: none;
}

.list-group-task:hover .btn {
	display: inline-block;
}

.padding {
	padding: 0 15px;
}

.form-invisible {
	resize: none;
	padding: 5px;
	line-height: 35px;
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
}

.form-invisible:hover {
	background-color: #fff;
}

.form-invisible-lg {
	font-size: 30px;
}

.form-sm .form-group {
	margin-bottom: 5px;
}

.editor-holder {
	padding: 0px 40px;
	border: 1px solid transparent;
}

.editor-holder .move-handle {
	cursor: move;
	min-height: 10px;
	position: relative;
}

.editor-holder:hover {
	background: #f5f5f5;
	border: 1px solid rgba(102, 175, 233, .6);
}

.editor-holder-preview {
	padding: 15px 0;
}

.checklist-content .editor-holder .btn.btn-sm {
	visibility: hidden;
	padding: 3px 5px;
}

.checklist-content .editor-holder:hover .btn.btn-sm {
	visibility: visible;
}

.checklist-content .editor-holder .btn-times {
	position: absolute;
	float: right;
	top: 10px;
	right: -35px;
}

.checklist-content .editor-holder .btn-copy {
	position: absolute;
	float: right;
	bottom: 10px;
	right: -35px;
}

.checklist-content .editor-holder .btn-down {
	position: absolute;
	float: left;
	bottom: 10px;
	left: -35px;
}

.checklist-content .editor-holder .btn-up {
	position: absolute;
	float: left;
	top: 10px;
	left: -35px;
}

.checklist-content .emailer-holder,
.checklist-content .list-margin-holder {
	/* margin-top: 30px; */
	margin-top: 0px;
	margin-bottom: 0px;
	/* margin-bottom: 20px; */
}

.sticky-rightbar {
	position: fixed;
	top: 132px;
	height: 96vh;
	right: 0;
	width: 80px;
	background: #f5f5f5 !important;
}

.sticky-rightbar .scroll-content {
	padding: 15px 0;
}

.sticky-rightbar-modal {
	top: 2px;
	right: 18px;
	height: 70vh;
	background: transparent;
}

.modal-body-kbcontent {
	padding: 15px 0px;
	height: 70vh;
	overflow-y: auto;
}

.modal-body-kbcontent .edit-mode {
	margin-right: 100px;
}

.ql-container.ql-snow,
.ql-editor.ql-blank {
	background-color: #fff !important;
}

.checklist-content .form-check-custom {
	margin-bottom: 0;
}

.form-check {
	position: relative;
	display: block;
}

.checklist-content .form-check-custom label {
	margin-bottom: 0;
	width: 100%;
}

.custom-control {
	position: relative;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	min-height: 1.5rem;
	padding-left: 1.5rem;
	margin-right: 1rem;
	cursor: pointer;
}

.custom-control-input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.checklist-content .form-check-custom label .custom-control-indicator {
	top: .7rem;
	background-color: #fff;
	border: 1px solid #d6dadc;
	border-bottom-color: #c4c9cc;
	border-radius: 4px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
}

.custom-control-indicator {
	position: absolute;
	top: .30rem;
	left: 0;
	display: block;
	pointer-events: none;
	width: 1.8rem;
	height: 1.8rem;
	user-select: none;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 50% 50%;
}

.nav,
.pagination,
.carousel,
.panel-title a {
	cursor: pointer;
}

.checklist-content .form-check-custom label .custom-control-description {
	font-weight: normal;
	padding-left: 10px;
	width: 100%;
}

.custom-control-input:disabled~.custom-control-description {
	color: #636c72;
	cursor: not-allowed;
}

.contents-holder .img-holder {
	width: 100%;
}

.contents-holder .img-holder img {
	max-width: 100%;
}

.card-select {
	background: transparent;
	/* max-height: 200px; */
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: .25rem;
	/* overflow-y: auto;
	overflow-x: hidden; */
}

.popover {
	max-width: 325px !important;
}

.popover img.pull-left{
	max-width: 150px !important;
	margin-right: 5px;
}

.row-country .btn{
	padding: 45px 15px;
	font-size: 18px;
	font-weight: 700;
}

.visibility-hidden {
	visibility: hidden;
}

.input-group-trans input {
	width: 60px !important;
}

.input-group-trans span.input-group-addon {
	background: transparent;
	border: none;
	padding-left: 5px;
	padding-right: 5px;
}

ng-quill-editor {
	z-index: 2000;
}

.upload-demo-wrap {
	width: 300px;
	height: 300px;
	margin: 0 auto;
}

.row-account-header {
	background: #fff;
	border-bottom: 1px solid #eee;
}

.row-account-header div {
	padding: 25px 15px;
}

/* Default mode */

.tabbable-line .nav-tabs {
	border: none;
	margin: 0px;
}

.tabbable-line .nav-tabs>li {
	margin-right: 2px;
}

.tabbable-line .nav-tabs>li>a {
	border: 0;
	margin-right: 0;
	color: #737373;
}

.tabbable-line .nav-tabs>li>a>i {
	color: #a6a6a6;
}

.tabbable-line .nav-tabs>li.open,
.tabbable-line .nav-tabs>li:hover {
	border-bottom: 4px solid #d9edf7;
}

.tabbable-line .nav-tabs>li.open>a,
.tabbable-line .nav-tabs>li:hover>a {
	border: 0;
	background: none !important;
	color: #333333;
}

.tabbable-line .nav-tabs>li.open>a>i,
.tabbable-line .nav-tabs>li:hover>a>i {
	color: #a6a6a6;
}

.tabbable-line .nav-tabs>li.open .dropdown-menu,
.tabbable-line .nav-tabs>li:hover .dropdown-menu {
	margin-top: 0px;
}

.tabbable-line .nav-tabs>li.active {
	border-bottom: 4px solid #2eb2ff;
	position: relative;
}

.tabbable-line .nav-tabs>li.active>a {
	border: 0;
	color: #333333;
}

.tabbable-line .nav-tabs>li.active>a>i {
	color: #404040;
}

.tabbable-line .tab-content {
	margin-top: -3px;
	background-color: #f6f6f6;
	border: 0;
	border-top: 1px solid #eee;
	padding: 15px 0;
}

.portlet .tabbable-line .tab-content {
	padding-bottom: 0;
}

.table-responsive .row {
	margin: 0px;
}

.table-borderless td,
.table-borderless th,
.table-borderless tr {
	border: none !important;
}

.table-survey thead>tr {
	background-color: #6B787F;
	border-bottom: 1px solid white;
}

.table-survey thead>tr>th {
	color: #fff;
	border: none;
	border-right: 1px solid white;
}

.table-survey tbody>tr {
	background-color: #fff;
}

/* group messaging*/

.chat_area {
	height: 82vh;
	overflow: auto;
	padding-top: 30px;
	padding-bottom: 125px;
}

.chat_area li {
	padding: 14px 14px 0;
}

.chat_area li .chat-img1 img {
	height: 40px;
	width: 40px;
}

.chat_area .chat-body1 {
	margin-left: 50px;
}

.chat_area .chat-body1 .chat-holder {
	display: inline-block;
}

.chat_area .chat-body1 .chat-holder-right {
	float: right;
}

.chat-body1 .chat-content {
	background: #ffe6cb;
	border-radius: 10px;
	color: #555;
	padding: 10px;
}

.chat-body1 .chat-content-right {
	background-color: #c7eafc;
	padding: 10px;
}

.chat_area .admin_chat .chat-body1 {
	margin-left: 0;
	margin-right: 50px;
}

.chat_area li:last-child {
	padding-bottom: 10px;
}

.message_write {
	background: #f5f3f3 none repeat scroll 0 0;
	float: left;
	padding: 15px;
	width: 100%;
	z-index: 500;
	border-top: 1px solid #ddd;
	position: absolute;
	background: #fff;
	bottom: 0px;
	left: 0px;
}

.message_write textarea.form-control {
	height: 70px;
	padding: 10px;
}

.input-transparent{
	border-color: transparent;
	background-color: transparent;
	box-shadow: none;
	font-weight: bold;
}
.input-transparent:hover, .input-transparent:focus{
	border-color: #c2c2c2;
}
.chat_bottom {
	float: left;
	margin-top: 13px;
	width: 100%;
}

.upload_btn {
	color: #777777;
}

.sub_menu_>li a,
.sub_menu_>li {
	float: left;
	width: 100%;
}

.member_list li:hover {
	background: #428bca none repeat scroll 0 0;
	color: #fff;
	cursor: pointer;
}

/* sortable */

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #60C576;
	background: #72E491;
	color: #48794D;
	min-height: 50px;
	opacity: .2;
}

.ui-state-checked {
	border: 1px solid #60C576;
	background: #72E491;
	opacity: .2;
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #48794D;
	opacity: .2;
}

.ui-state-highlight2,
.ui-widget-content .ui-state-highlight2,
.ui-widget-header .ui-state-highlight2 {
	border: 1px solid #60C576;
	background: #72E491;
	color: #48794D;
	width: 16.6%;
	float: left;
	min-height: 112px;
	margin-bottom: 20px;
	opacity: .2;
}

.ui-state-highlight2 a,
.ui-widget-content .ui-state-highlight2 a,
.ui-widget-header .ui-state-highlight2 a {
	color: #48794D;
	width: 16.6%;
	float: left;
	opacity: .2;
}

.ui-state-highlight-wiki,
.ui-widget-content .ui-state-highlight-wiki,
.ui-widget-header .ui-state-highlight-wiki {
	border: 1px solid #60C576;
	background: #72E491;
	color: #48794D;
	min-height: 30px;
	opacity: .2;
}

.ui-state-highlight-wiki a,
.ui-widget-content .ui-state-highlight-wiki a,
.ui-widget-header .ui-state-highlight-wiki a {
	color: #48794D;
	opacity: .2;
}

/*kanban*/

.panel-kanban {
	border-radius: 0px;
	/* border-left: 3px #34A74E solid; */
	margin-bottom: 0px;
	cursor: move;
}

.kanban-empty {
	border: 1px dashed #ddd;
	margin-bottom: 15px;
}

.kanban-empty::after {
	position: absolute;
	top: 45%;
	left: 35%;
	content: 'Drag task here';
	color: #777777;
}

div[dnd-list] .dndPlaceholder {
	background: #72E491;
	display: block;
	min-height: 40px;
	opacity: .2;
}

.list-pages p a,
.list-pages p a:hover {
	color: #777;
	text-decoration: none;
	/* font-weight: bold; */
}

.list-pages p img {
	visibility: hidden;
	cursor: move;
}

.list-pages p:hover img {
	visibility: visible;
}

.list-pages .active p a {
	color: #2eb2ff;
	font-weight: bold;
	text-decoration: none;
}

.is-typing {
	background: #fff;
	right: 43%;
	position: fixed;
	bottom: 130px;
}

.panel-incidents small {
	font-size: 15px;
}

.panel-incidents .label {
	font-size: 90%;
}

/*toast*/

.ng-toast {
	position: fixed;
	z-index: 1080;
	width: 100%;
	height: 0;
	margin-top: 20px;
	text-align: center
}

.ng-toast.ng-toast--top,
.ng-toast.ng-toast--top .ng-toast__list {
	top: 0;
	bottom: auto
}

.ng-toast.ng-toast--top.ng-toast--center .ng-toast__list {
	position: static
}

.ng-toast.ng-toast--bottom,
.ng-toast.ng-toast--bottom .ng-toast__list {
	top: auto;
	bottom: 0
}

.ng-toast.ng-toast--bottom.ng-toast--center .ng-toast__list {
	pointer-events: none
}

.ng-toast.ng-toast--bottom.ng-toast--center .ng-toast__message .alert {
	pointer-events: auto
}

.ng-toast.ng-toast--right .ng-toast__list {
	left: auto;
	right: 0;
	margin-right: 20px
}

.ng-toast.ng-toast--right .ng-toast__message {
	text-align: right
}

.ng-toast.ng-toast--left .ng-toast__list {
	right: auto;
	left: 0;
	margin-left: 20px
}

.ng-toast.ng-toast--left .ng-toast__message {
	text-align: left
}

.ng-toast .ng-toast__list {
	display: inline-block;
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto;
	padding: 0;
	list-style: none
}

.ng-toast .ng-toast__message {
	display: block;
	width: 100%;
	text-align: center
}

.ng-toast .ng-toast__message .alert {
	display: inline-block
}

.ng-toast .ng-toast__message__count {
	display: inline-block;
	margin: 0 15px 0 5px
}

/*toast*/

/* pricing table start */
.table-progress-div{
	margin-right: 15px;
    width: 200px;
    float: right;
}
.table-progress-div .progress{ 
	margin-bottom: 0px;
	height: 15px;
}

/*PRICE COLOR CODE START*/

#generic_price_table .generic_content {
	background-color: #fff;
	border: 2px solid #fff;
	padding: 15px 0;
	min-height: 550px;
}
#generic_price_table .generic_content h2 {
	font-size: 30px;
}

/* #generic_price_table .generic_content.generic_content_middle {
	margin-top: 0px;
	padding-top: 45px;
} */
#generic_price_table .generic_content:hover, #generic_price_table .generic_content.active {
	border: 2px solid #2eb2ff;
}

#generic_price_table .generic_content .generic_head_price {
	background-color: #f6f6f6;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg {
	border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span {
	color: #525252;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign {
	color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency {
	color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent {
	color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month {
	color: #414141;
}

#generic_price_table .generic_content .generic_feature_list ul li {
	color: #a7a7a7;
}

#generic_price_table .generic_content .generic_feature_list ul li span {
	color: #414141;
}

#generic_price_table .generic_content .generic_feature_list ul li:hover {
	background-color: #E4E4E4;
}


#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg {
	border-color: #2eb2ff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #2eb2ff;
	color: #fff;
}

#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head span,
#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head span {
	color: #fff;
}

#generic_price_table .generic_content .generic_price_btn{
	padding: 0 15px;
}
#generic_price_table {
	margin: 50px 0 50px 0;
	font-family: 'Raleway', sans-serif;
}

.row .table {
	padding: 28px 0;
}

/*PRICE BODY CODE START*/

#generic_price_table .generic_content {
	-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.14);
	-moz-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.14);
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.14);
	overflow: hidden;
	position: relative;
	text-align: center;
}

#generic_price_table .generic_content .generic_head_price {
	margin: 0 0 20px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content {
	margin: 0 0 50px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg {
	border-style: solid;
	border-width: 90px 1411px 23px 399px;
	position: absolute;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head {
	padding-top: 40px;
	position: relative;
	z-index: 1;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span {
	font-family: "Raleway", sans-serif;
	font-size: 28px;
	font-weight: 400;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag {
	padding: 0 0 20px;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price {
	display: block;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign {
	display: inline-block;
	font-family: "Lato", sans-serif;
	font-size: 28px;
	font-weight: 400;
	vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency {
	font-family: "Lato", sans-serif;
	font-size: 60px;
	font-weight: 300;
	letter-spacing: -2px;
	line-height: 60px;
	padding: 0;
	vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent {
	display: inline-block;
	font-family: "Lato", sans-serif;
	font-size: 24px;
	font-weight: 400;
	vertical-align: bottom;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month {
	font-family: "Lato", sans-serif;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 3px;
	vertical-align: bottom;
}

#generic_price_table .generic_content .generic_feature_list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#generic_price_table .generic_content .generic_feature_list ul li {
	padding: 10px 0;
	transition: all 0.3s ease-in-out 0s;
}

#generic_price_table .generic_content .generic_feature_list ul li:hover {
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
}

#generic_price_table .generic_content .generic_feature_list ul li .fa {
	padding: 0 10px;
}

#generic_price_table .generic_content .generic_price_btn {
	margin: 20px 0 32px;
}


@media (max-width: 320px) {}

@media (max-width: 767px) {
	#generic_price_table .generic_content {
		margin-bottom: 75px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#generic_price_table .col-md-3 {
		float: left;
		width: 50%;
	}
	#generic_price_table .col-md-4 {
		float: left;
		width: 50%;
	}
	#generic_price_table .generic_content {
		margin-bottom: 75px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}

#generic_price_table_home {
	font-family: 'Raleway', sans-serif;
}

.text-center h1,
.text-center h1 a {
	color: #7885CB;
	font-size: 30px;
	font-weight: 300;
	text-decoration: none;
}

.demo-pic {
	margin: 0 auto;
}

.demo-pic:hover {
	opacity: 0.7;
}

#generic_price_table_home ul {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: table;
}

#generic_price_table_home li {
	float: left;
}

#generic_price_table_home li+li {
	margin-left: 10px;
	padding-bottom: 10px;
}

#generic_price_table_home li a {
	display: block;
	width: 50px;
	height: 50px;
	font-size: 0px;
}

#generic_price_table_home .blue {
	background: #3498DB;
	transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .emerald {
	background: #2eb2ff;
	transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .grey {
	background: #7F8C8D;
	transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .midnight {
	background: #34495E;
	transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .orange {
	background: #E67E22;
	transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .purple {
	background: #9B59B6;
	transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .red {
	background: #E74C3C;
	transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .turquoise {
	background: #1ABC9C;
	transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .blue:hover,
#generic_price_table_home .emerald:hover,
#generic_price_table_home .grey:hover,
#generic_price_table_home .midnight:hover,
#generic_price_table_home .orange:hover,
#generic_price_table_home .purple:hover,
#generic_price_table_home .red:hover,
#generic_price_table_home .turquoise:hover {
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .divider {
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	padding: 20px;
}

#generic_price_table_home .divider span {
	width: 100%;
	display: table;
	height: 2px;
	background: #ddd;
	margin: 50px auto;
	line-height: 2px;
}

#generic_price_table_home .itemname {
	text-align: center;
	font-size: 50px;
	padding: 50px 0 20px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
	text-decoration: none;
	font-weight: 300;
}

#generic_price_table_home .itemnametext {
	text-align: center;
	font-size: 20px;
	padding-top: 5px;
	text-transform: uppercase;
	display: inline-block;
}

#generic_price_table_home .footer {
	padding: 40px 0;
}

.price-heading {
	text-align: center;
}

.price-heading h1 {
	color: #666;
	margin: 0;
	padding: 0 0 50px 0;
}

.demo-button {
	background-color: #333333;
	color: #ffffff;
	display: table;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 50px;
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: medium;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}

.bottom_btn {
	background-color: #333333;
	color: #ffffff;
	display: table;
	font-size: 28px;
	margin: 60px auto 20px;
	padding: 10px 25px;
	text-align: center;
	text-transform: uppercase;
}

.demo-button:hover {
	background-color: #666;
	color: #FFF;
	text-decoration: none;
}

.bottom_btn:hover {
	background-color: #666;
	color: #FFF;
	text-decoration: none;
}

/* pricing table end */

.margin-bottom-15{
	margin-bottom: 15px;
}
.margin-top-15{
	margin-top: 15px;
}

.list-group-form-element a{
	padding: 7px 1px !important;
	font-size: 11px;
	cursor: move;
	border-radius: 0px !important;
}


.on-drag-hover:before {
	content: 'Drop here';
	display: block;
	color: white;
	background: #093;
	padding: 30px;
	font-size: 18px;
	font-weight: 800;
  }

  .container-new-payment{
	  padding-top: 100px;
  }

/***side progress**/
nav .lifecycle {
    padding-top: 4px
}

nav .lifecycle span {
    font-size: 13px;
    display: block;
    text-align: center;
    margin-bottom: 3px;
    color: #505050;
    margin-bottom: 15px
}

nav .lifecycle h5 {
    font-size: 16px;
    margin-bottom: 3px;
    text-align: center;
    color: #454855
}

@media screen and (max-width:480px) {
    nav .lifecycle {
        display: none
    }
}

nav .lifecycle ul{
  list-style: none !important;
}

nav .lifecycle ul.list {
    padding: 0;
    margin-top: 10px;
	background-color: transparent;
}

@media screen and (max-width:480px) {
    nav .lifecycle ul.list {
        width: 200px;
        overflow: hidden;
        margin: 0 auto
    }
}

nav .lifecycle ul.list .item {
    height: 40px
}

nav .lifecycle ul.list .item:nth-child(1) .circle {
    -webkit-animation-delay: .02s;
    animation-delay: .02s
}

nav .lifecycle ul.list .item:nth-child(2) .circle {
    -webkit-animation-delay: .04s;
    animation-delay: .04s
}

nav .lifecycle ul.list .item:nth-child(3) .circle {
    -webkit-animation-delay: .06s;
    animation-delay: .06s
}

nav .lifecycle ul.list .item:nth-child(4) .circle {
    -webkit-animation-delay: .08s;
    animation-delay: .08s
}

nav .lifecycle ul.list .item:nth-child(5) .circle {
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

nav .lifecycle ul.list .item:nth-child(6) .circle {
    -webkit-animation-delay: .12s;
    animation-delay: .12s
}

nav .lifecycle ul.list .item:nth-child(7) .circle {
    -webkit-animation-delay: .14s;
    animation-delay: .14s
}

nav .lifecycle ul.list .item:nth-child(8) .circle {
    -webkit-animation-delay: .16s;
    animation-delay: .16s
}

nav .lifecycle ul.list .item:nth-child(9) .circle {
    -webkit-animation-delay: .18s;
    animation-delay: .18s
}

nav .lifecycle ul.list .item .indicator {
    width: 50px;
    height: 40px;
    position: relative;
    float: left;
	padding: 0;
	border: none;
}

nav .lifecycle ul.list .item .indicator .semiline {
    width: 3px;
    height: 50%;
    margin: 0 auto;
    background: #d2d2d2
}

nav .lifecycle ul.list .item .indicator .circle {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #d2d2d2;
    top: 5px;
    left: 10px;
    background: #f9f9f9
}

nav .lifecycle ul.list .item span {
    line-height: 40px;
    font-size: 14px;
    text-align: left
}

nav .lifecycle ul.list .item.end .semiline:nth-child(2),
nav .lifecycle ul.list .item.start .semiline:first-child {
    background: inherit
}

nav .lifecycle ul.list .item.complete .circle {
    background: #6d6e70;
    border-color: #6d6e70
}

nav .lifecycle ul.list .item.current .semiline:first-childe {
    background: #6d6e70
}

nav .lifecycle ul.list .item.current .circle {
    background: #2eb2ff;
    border-color: #2eb2ff;
}
nav .lifecycle ul.list .item a:hover{
	text-decoration: none;
}


.btn-savechanges{
	position: fixed;
    bottom: 0;
    width: 80px;
}

.bg-tab{
	padding: 15px;
	background: #fff;
	border: 1px solid #ddd;
	border-top: none;
}

.row-incident-form{
	padding-top: 15%;
}